In [18]:
from pydataset import data
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [19]:
titanic = pd.read_csv('Titanic.csv', header=None)
titanic.head(40)

       0      1       2      3         4     5
0    NaN  Class     Sex    Age  Survived  Freq
1    1.0    1st    Male  Child        No     0
2    2.0    2nd    Male  Child        No     0
3    3.0    3rd    Male  Child        No    35
4    4.0   Crew    Male  Child        No     0
5    5.0    1st  Female  Child        No     0
6    6.0    2nd  Female  Child        No     0
7    7.0    3rd  Female  Child        No    17
8    8.0   Crew  Female  Child        No     0
9    9.0    1st    Male  Adult        No   118
10  10.0    2nd    Male  Adult        No   154
11  11.0    3rd    Male  Adult        No   387
12  12.0   Crew    Male  Adult        No   670
13  13.0    1st  Female  Adult        No     4
14  14.0    2nd  Female  Adult        No    13
15  15.0    3rd  Female  Adult        No    89
16  16.0   Crew  Female  Adult        No     3
17  17.0    1st    Male  Child       Yes     5
18  18.0    2nd    Male  Child       Yes    11
19  19.0    3rd    Male  Child       Yes    13
20  20.0   Crew    Male  Child       Yes     0
21  21.0    1st  Female  Child       Yes     1
22  22.0    2nd  Female  Child       Yes    13
23  23.0    3rd  Female  Child       Yes    14
24  24.0   Crew  Female  Child       Yes     0
25  25.0    1st    Male  Adult       Yes    57
26  26.0    2nd    Male  Adult       Yes    14
27  27.0    3rd    Male  Adult       Yes    75
28  28.0   Crew    Male  Adult       Yes   192
29  29.0    1st  Female  Adult       Yes   140
30  30.0    2nd  Female  Adult       Yes    80
31  31.0    3rd  Female  Adult       Yes    76
32  32.0   Crew  Female  Adult       Yes    20

## Feature Engineering (One hot encoding)

In [20]:
titanic = pd.get_dummies(titanic, drop_first=True, dtype=float) #there is no class one
titanic.sample(5)

,0,1_2nd,1_3rd,1_Class,1_Crew,2_Male,2_Sex,3_Age,3_Child,4_Survived,...,5_387,5_4,5_5,5_57,5_670,5_75,5_76,5_80,5_89,5_Freq
16,16.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,31.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,3.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,12.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
24,24.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
X_train, X_test, y_train, y_test = train_test_split(titanic.drop('survived_yes', axis=1), titanic['survived_yes'])

KeyError: "['survived_yes'] not found in axis"

In [ ]:
solver='lbfgs'
LogReg = LogisticRegression(solver=solver, max_iter=1000)
LogReg.fit(X_train, y_train)

In [ ]:
#Predicting if a class-l child-age female survived
LogReg.predict(np.array([[0, 0, 1, 1]]))[0]

In [ ]:
LogReg.score(X_test, y_test)

In [ ]:
prediction = (LogReg.predict(X_test) > 0.5).astype(int)
np.sum(prediction == y_test) / len(y_test)

In [ ]:
df_titan = pd.read_csv('Titanic.csv', header=None)
#df_titan.head()
df_titan

In [ ]:
# Preprocess the df_titan DataFrame
df_titan = pd.get_dummies(df_titan, drop_first=True, dtype=float)
print(df_titan)

# Ensure column names match
missing_columns = set(titanic.columns) - set(df_titan.columns)
for column in missing_columns:
    df_titan[column] = 0

# Reorder columns to match the order in the training data
df_titan = df_titan[titanic.drop('survived_yes', axis=1).columns]


#Predicting if a class-l adult-age male survived
LogReg.predict(df_titan)

In [ ]:
accuracies = []
for max_iter in range(3, 21):
    LogReg = LogisticRegression(
        solver='saga',
        max_iter=max_iter,
        random_state=42,
        tol=1e-100
    )
    
    LogReg.fit(X_train, y_train)
    accuracy = LogReg.score(X_test, y_test)
    accuracies.append(accuracy)

In [ ]:
plt.plot(accuracies)
plt.show()